.anchor_bg {
   -fx-background-color : black;
}

.cardPane {
    -fx-background-radius : 50px;
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-effect: dropshadow(gaussian, black, 100, 0, 0, 0);
    -fx-background-insets: 100;
}

.topPane {
    -fx-background-color : #604f74;
}

.login_btn  {
	-fx-background-color : #724f3f;
}

.logout_btn{
	-fx-background-color : #724f3f;	
}
.topPane_manage {
	-fx-background-color : linear-gradient(to bottom left, black, #724f3f);
	border-bottom: 6px;	
}


.toggle_event_details {
	-fx-background-color : #18ca8a;
}

.list-cell {
	-fx-background-color : transparent;
	-fx-padding: 10px ;
}

.list-cell:selected {
	/*
	-fx-background-color: rgba(255,255,255,0);
	-fx-effect: dropshadow(gaussian, #FFFFFF, 100, 0, 0, 0);
    -fx-background-insets: 100;
    -fx-control-inner-background: blue
    */
}

.list-view {
	-fx-orientation : vertical;
	-fx-background-color : black;
	-fx-text-fill: white;
	-fx-font-size: 14px;

	-fx-border-color:black #724f3f black black;
    -fx-border-width: 0 3 0 0;
    -fx-border-radius: 0 5 0 0;
}
.list-cell:empty {
    visibility:hidden;
}

.listview_manage_container {
	-fx-background-color : black;
}

.container_tab_pane{
	-fx-background-color : black;

}

.tab-pane{
	-fx-tab-min-width:140px;
}
.tab {
	-fx-background-insets: 0 0 0 0,0,0;
	padding: 0 0 0 0;
}

.tab-pane .tab 
{
    -fx-background-color: black;
}

.tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-text-style: bold;
}

 .tab-header-area .tab-header-background {
 	-fx-background-color: black;
 }

.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
}
.text-area {
    text-area-background: black ;
    -fx-control-inner-background:black;
    -fx-border-width: 0;
    -fx-focus-color: transparent;
    -fx-text-box-border: black;
    -fx-border-color: black;
    -fx-border-radius: 0px;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
.text-area .content {
    -fx-control-inner-background:black;
    -fx-font-color: white;
    -fx-background-radius: 0 0 0 0;
}

.home_bg_image {
	-fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 55% , #7cfc00, #ff0000);
	-fx-background-color : linear-gradient(from 0px 0px to 0px 50px, gray, darkgray 50%, dimgray 99%, white);
}

.table-view{
   -fx-background-color: black;
}
.table-view:focused{
    -fx-background-color: black;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: black;
    -fx-text-fill: white;
}
.table-view .column-header {
    -fx-background-color: black;
}
.table-view{
  -fx-control-inner-background: black;
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.table-row-cell{
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
    /*-fx-cell-size: 150px;*/
}

.table-row-cell:selected {
   /*-fx-background-color: #5c5b5b; */
   -fx-border-width : 0px;
   -fx-border-color : transparent;
}
.table-row-cell:selected .table-cell {
      -fx-border-width : 0px;
}
/*
.table-column {
  -fx-text-align: center;
}
*/
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
.tab-pane *.tab-header-background {
    -fx-background-color: transparent;
    -fx-effect: innershadow(two-pass-box , transparent , 0, 0.0 , 0 , 0);
}
.tab-pane:top > .tab-header-area > .tab-header-background {
  -fx-background-insets: 0, 0 0 0 0, 0;
}

.menu {
	-fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}

.menu .label{
	-fx-text-fill: black;
}

.manage_top_hbox {
}
.manage_anchor_top {
    -fx-background-color: rgba(192,192,192,0.1);
	-fx-background-radius : 50px;
    -fx-effect: dropshadow(gaussian, #696969, 100, 0, 0, 0);
    -fx-background-insets: 100;
}
.manage_global_container {
	-fx-background-color: black;
}

.context-menu {
  -fx-background-color: #006699;
  -fx-text-fill: white;
  -fx-width : 40px;
  -fx-alignment:center;

}

.context-menu .accelerator-text {
    -fx-text-fill: blue;
}

.menu-item:focused {
     -fx-background-color: transparent;
     -fx-effect: dropshadow(gaussian, black, 100, 0, 0, 0);
     -fx-background-insets: 100;
     -fx-text-alignment: CENTER;
}
.check-box .box {
-fx-background-color: #724f3f;
-fx-border-color: black;
-fx-border-radius:3px; 
}

.check-box:selected .mark {
-fx-background-color: white;
}
.check-box:selected .box {
-fx-background-color: #724f3f;
}

.scroll-bar .increment-button {
  visibility: hidden;
}

.scroll-bar .decrement-button {
  visibility: hidden;
}

.scroll-bar:vertical {
  -fx-background-color: transparent;
}

.scroll-bar:vertical .track-background {
  visibility: hidden;
}

.scroll-bar:vertical .track {
  visibility: hidden;
}

.hide-thumb .scroll-bar:vertical .thumb {
  -fx-background-color: transparent;
}

.text-area .text {
    -fx-text-alignment: center ;
}
.login_editText {
	-fx-background-color : transparent;
	-fx-text-fill :white;
	font-weight: bold;	
}
.text-area:selected{
	-fx-border-width:0px;
}



